article,
aside,
footer,
header,
nav,
section,
body {
    font-family: 'din_font' !important;
    /*    font-weight: light;*/
}

.marginwrapper {
    margin-top: 30px;
}


/*GRID DE IMAGENES*/

.grid-image {
    width: 230px;
    height: 230px;
    margin: 5%;
    display: block;
}

img.desaturated {
    filter: none;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    cursor: pointer;
    transition: all 500ms ease;
}

img.desaturated:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
}


/*FIN GRID DE IMAGENES*/


/*INLINE*/

.texto-gris {
    color: #878787;
}

.texto-menu {
    letter-spacing: 4px;
}

.texto-negro {
    color: #000;
    font-weight: 900;
}


/*FIN INLINE*/
